[flake8]
max-complexity = 30
max-line-length = 119
max-doc-length = 120
indent-size = 4
exclude =
    .git,
    __pycache__,
    .github,
    docs,
    tests
    .venv
    babel
    instance
    logs
filename = *.py
accept-encodings = utf-8
inline-quotes = single
multiline-quotes =  double
ignore = F405
