{% extends "website/main.html" %}


{% block page_body %}
          <div class="container-xl">
            {% include "website/top_cards.html" %}
            <div class="row row-cards mt-4">
              <div class="card">

              <div class="card-header">
                <h3 class="card-title">{{_('Last Stars')}}</h3>
              </div>
                <div class="table-responsive">
                  <table class="table table-vcenter card-table">
                    <thead>
                      <tr>
                        <th>{{_('Star Name')}}</th>
                        <th>{{_('Styles')}}</th>
                        <th>{{_('Lineups')}}</th>
                        <th>{{_('License')}}</th>
                        <th>{{_('Version')}}</th>
                        <th>{{_('Links')}}</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for project in l_last_5 %}
                      <tr>
                        <td nowrap="nowrap"><a href="{{ url_for('website.interview_star', star_slug=project.slug) }}"> {{ project.title }}</a></td>
                        <td><a href="/syle/style-1">Framework</a>, <a href="/syle/style-2">ORM</a></td>
                        <td><a href="/lineup/lineup-1">Admin Panels</a>, <a href="/lineup/lineup-2">Tools</a></td>
                        <td>{{ project.get_license }}</td>
                        <td>{{ project.get_version }}</td>
                        <td><a href="#">Demo</a>, <a href="#">Docs</a>, <a href="#">Website</a></td>
                      </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row row-cards mt-4">
              <div class="card">

              <div class="card-header">
                <h3 class="card-title">{{_('Random Stars')}}</h3>
              </div>
                <div class="table-responsive">
                  <table class="table table-vcenter card-table">
                    <thead>
                      <tr>
                        <th>{{_('Star Name')}}</th>
                        <th>{{_('Styles')}}</th>
                        <th>{{_('Lineups')}}</th>
                        <th>{{_('License')}}</th>
                        <th>{{_('Version')}}</th>
                        <th>{{_('Links')}}</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for project in l_random_5 %}
                      <tr>
                        <td nowrap="nowrap"><a href="{{ url_for('website.interview_star', star_slug=project.slug) }}"> {{ project.title }}</a></td>
                        <td><a href="/syle/style-1">Framework</a>, <a href="/syle/style-2">ORM</a></td>
                        <td><a href="/lineup/lineup-1">Admin Panels</a>, <a href="/lineup/lineup-2">Tools</a></td>
                        <td>{{ project.get_license }}</td>
                        <td>{{ project.get_version }}</td>
                        <td><a href="#">Demo</a>, <a href="#">Docs</a>, <a href="#">Website</a></td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock page_body %}
