{% extends "website/main.html" %}


{% block page_body %}
          <div class="container-xl">


            <div class="row row-cards mt-4">
              <div class="card">

              <div class="card-header">
                <h3 class="card-title">{{_('Last Stars')}}</h3>
              </div>
                <pre>{{ star|pprint }}</pre>
                <pre>{{ star.pypi_repo|pprint }}</pre>
                <pre>{{ star.github_repo|pprint }}</pre>
              </div>
            </div>


          </div>
{% endblock page_body %}
