{% extends "main.html" %}

{% block title%}{{ project.title }} - Flask Packages{% endblock title %}

{% block meta_content %}
<meta name="description" content="{{ project.description }}">
<meta name="keywords" content="{{ project.description }}">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="{{ project.title }}">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<link rel="canonical" href="https://flaskpackages.pythonanywhere.com/projects/{{ project.slug }}">
<meta property="og:title" content="{{ project.title }}">
<meta property="og:site_name" content="Flask Packages">
<meta property="og:url" content="https://flaskpackages.pythonanywhere.com/projects/{{ project.slug }}">
<meta property="og:description" content="{{ project.description }}">
<meta property="og:type" content="website">

{% endblock meta_content %}

{% block content %}
<!-- Hero Section -->
<section class="bg-primary text-white text-center py-5">
  <div class="container">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
  </div>
</section>

{% endblock content %}
