{% extends "main.html" %}
{% block meta_content %}
<meta name="description" content="Registered extensions under {{project_type}}">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="mariofix">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<link rel="canonical" href="https://flaskpackages.pythonanywhere.com/{{ project_type }}/">
<meta property="og:title" content="{{ project_type|capitalize }}s">
<meta property="og:site_name" content="Flask Packages">
<meta property="og:url" content="https://flaskpackages.pythonanywhere.com/{{ project_type }}/">
<meta property="og:description" content="Registered extensions under {{project_type}}">
<meta property="og:type" content="website">

{% endblock meta_content %}
{% block content %}
<section class="bg-primary text-white text-center py-5">
  <div class="container">

    <h1>Registered Extensions{% if project_type != "fulllist"  %} - {{ project_type|capitalize }}s{% endif %}</h1>

  </div>
</section>

<div class="py-5 bg-body-tertiary">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Current Release</th>
            <th>Python Compatibility</th>
            <th>Flask Compatibility</th>
            <th>Downloads</th>
            <th>Open Issues</th>
            <th>Subscribers</th>
            <th>Last Crawl</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td><a href="{{ url_for('website.get_project', slug=project[0].slug) }}">{{ project[0].slug }}</a></td>
            <td><span class="d-inline-flex px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">{{ project[0].last_release }}</span> <span class="text-secondary small">{{ project[0].last_release_ago() }}</span></td>
            <td style="word-wrap: break-word;min-width: 50px;max-width: 50px;">{{ project[0].supported_python|default("Not Found", boolean=true) }}</td>
            <td style="word-wrap: break-word;min-width: 50px;max-width: 50px;">{{ project[0].supported_flask|default("Any version", boolean=true) }}</td>
            <td>{{ project[0].downloads|default(0, boolean=True)|humanize_intword|replace("billion","B")|replace("million","M")|replace("thousand","K") }}</td>
            <td>{{ project[0].issues_open|default("0", boolean=true) }}</td>
            <td>{{ project[0].subscribers|default("0", boolean=true) }}</td>
            <td><span class="text-secondary small">{{ project[0].last_pypi_ago() }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock content %}
