{% extends "main.html" %} {% block title%}{{ project.title }} - Flask Packages{%
endblock title %} {% block meta_content %}
<meta name="description" content="{{ project.description }}" />
<meta name="keywords" content="{{ project.description }}" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="{{ project.title }}" />
<meta name="language" content="English" />
<meta name="revisit-after" content="7 days" />
<link rel="canonical" href="https://flaskpackages.pythonanywhere.com/project/{{ project.slug }}" />
<meta property="og:title" content="{{ project.title }}" />
<meta property="og:site_name" content="Flask Packages" />
<meta property="og:url" content="https://flaskpackages.pythonanywhere.com/project/{{ project.slug }}" />
<meta property="og:description" content="{{ project.description }}" />
<meta property="og:type" content="website" />

{% endblock meta_content %} {% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <h1 class="h3 mb-0">
          {{ project.title }}
          <button class="btn btn-outline-secondary btn-sm text-small">
            {{ project.category.value }}
          </button>
        </h1>
        <p class="text-muted small mb-0">{{ project.description }}</p>
      </div>
      <div class="d-flex gap-2">
        <span class="btn border-0 btn-sm">Supported Versions:</span>
        {% if project.supported_python %} {% for python_version in
        project.supported_python %}
        <button class="btn btn-outline-success btn-sm">
          {{ python_version }}
        </button>
        {% endfor %} {% else %}
        <button class="btn btn-outline-warning btn-sm">Not Informed</button>
        {% endif%}
      </div>
    </div>

    <!-- Stats Cards Row -->
    <div class="row g-3 mb-4">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 class="text-muted mb-2">Current Release</h6>
                <h3 class="mb-0">{{ project.pypi_data.info.version }}</h3>
                <small class="text-success">8 days ago </small>
                {% if project.pypi_data.info.yanked %}
                - <small class="text-danger"> Yanked!</small>
                {% endif %}
              </div>
              <div class="bg-primary bg-opacity-10 p-3 rounded">
                <i class="bi bi-boxes text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 class="text-muted mb-2">Open/Closed Issues</h6>
                <h3 class="mb-0">34/671</h3>
                <small class="text-danger"> +14% open issues than last month. </small>
              </div>
              <div class="bg-success bg-opacity-10 p-3 rounded">
                <i class="bi bi-bug text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 class="text-muted mb-2">Project Age</h6>
                <h3 class="mb-0">2 years</h3>
                <small class="text-danger">
                  &nbsp;
                </small>
              </div>
              <div class="bg-warning bg-opacity-10 p-3 rounded">
                <i class="bi bi-bag text-warning"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 class="text-muted mb-2">Last Push</h6>
                <h3 class="mb-0">17 days ago</h3>
                <small class="text-success">
                  &nbsp;
                </small>
              </div>
              <div class="bg-info bg-opacity-10 p-3 rounded">
                <i class="bi bi-graph-up-arrow text-info"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="row g-3">
      <!-- Activity Timeline -->
      <div class="col-12">
        <div class="card border-0 shadow-sm">
          <div class="card-header bg-white border-0">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Project</h5>
              <button class="btn btn-sm">Button here</button>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex align-items-start">
              <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                  Project Information
                </button>
                <button class="nav-link" id="v-pills-pypidata-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pypidata" type="button" role="tab" aria-controls="v-pills-pypidata" aria-selected="false">
                  PyPi Raw Data
                </button>
                <button class="nav-link" id="v-pills-ghdata-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ghdata" type="button" role="tab" aria-controls="v-pills-ghdata" aria-selected="false">
                  Github Raw Data
                </button>
                <button class="nav-link" id="v-pills-anadata-tab" data-bs-toggle="pill" data-bs-target="#v-pills-anadata" type="button" role="tab" aria-controls="v-pills-anadata" aria-selected="false">
                  Anaconda Raw Data
                </button>
              </div>
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                  <div class="gap-2">
                    <a href="https://pypi.org/project/{{ project.pypi_slug }}" class="btn btn-outline-primary" role="button">
                      <i class="bi bi-plus me-2"></i> PyPi Repo
                    </a>
                    <a href="https://anaconda.org/{{ project.conda_slug }}" class="btn btn-outline-success" role="button">
                      <i class="bi bi-person me-2"></i> Conda Repo
                    </a>
                    <a href="{{ project.project_url }}" class="btn btn-outline-info" role="button">
                      <i class="bi bi-shield-lock me-2"></i> Project URL
                    </a>
                    <a href="{{ project.documentation_url }}" class="btn btn-outline-info" role="button">
                      <i class="bi bi-shield-lock me-2"></i> Documentation URL
                    </a>
                    <a href="{{ project.source_url }}" class="btn btn-outline-warning" role="button">
                      <i class="bi bi-database me-2"></i> Source URL
                    </a>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-pypidata" role="tabpanel" aria-labelledby="v-pills-pypidata-tab" tabindex="0">
                  <div class="json_tree"></div>
                </div>
                <div class="tab-pane fade" id="v-pills-ghdata" role="tabpanel" aria-labelledby="v-pills-ghdata-tab" tabindex="0">
                  <div class="json_tree_gh"></div>
                </div>
                <div class="tab-pane fade" id="v-pills-anadata" role="tabpanel" aria-labelledby="v-pills-anadata-tab" tabindex="0">
                  <div class="json_tree_ana"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block post_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jsonview.js', v=app_version)}}"></script>
<script type="text/javascript">
  const data = {{ project.pypi_data| tojson }};
  const gh_data = {{ project.source_data| tojson }};
  const ana_data = {{ project.conda_data| tojson }};
  const tree = jsonview.create(data);
  const tree_gh = jsonview.create(gh_data);
  const tree_ana = jsonview.create(ana_data);
  jsonview.render(tree, document.querySelector(".json_tree"));
  jsonview.render(tree_gh, document.querySelector(".json_tree_gh"));
  jsonview.render(tree_ana, document.querySelector(".json_tree_ana"));
  <!-- jsonview.expand(tree); -->
</script>
{% endblock post_js%}
