{% extends "main.html" %}

{% block title%}{{ tag.title }} - Flask Packages{% endblock title %}

{% block meta_content %}
<meta name="description" content="{{ tag.description }}">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="{{ tag.title }}">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<link rel="canonical" href="https://flaskpackages.pythonanywhere.com/tag/{{ tag.slug }}">
<meta property="og:title" content="{{ tag.title }}">
<meta property="og:site_name" content="Flask Packages">
<meta property="og:url" content="https://flaskpackages.pythonanywhere.com/tag/{{ tag.slug }}">
<meta property="og:description" content="{{ tag.description }}">
<meta property="og:type" content="website">

{% endblock meta_content %}

{% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <h1 class="h3 mb-0">{{ tag.title }} </h1>
        <p class="text-muted small mb-0">{{ tag.description }}</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="col-md-12">
      <div class="row row-cards">
        <div class="space-y">
          {% for project in tag.projects %}
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-auto">&nbsp; &nbsp;</div>
              <div class="col">
                <div class="card-body ps-0">
                  <div class="row">
                    <div class="col">
                      <h5 class="mb-0"><a href="{{ url_for('website.get_project', slug=project.slug) }}">{{ project.title }}</a></h5>
                    </div>
                    <div class="col-auto text-success">Current Release: {{ project.last_release }} published {{ project.last_release_ago() }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md">
                      <div class="mt-3 list-inline list-inline-dots mb-0 text-secondary d-sm-block d-none">
                        <div class="list-inline-item"><i class="bi bi-bezier2"></i> {{ project.forks }}</div>
                        <div class="list-inline-item"><i class="bi bi-record-circle"></i> {{ project.issues_open }}</div>
                        <div class="list-inline-item"><i class="bi bi-star"></i> {{ project.stars }}</div>
                        <div class="list-inline-item"><i class="bi bi-download"></i> {{ project.downloads }}</div>
                        <div class="list-inline-item"><i class="bi bi-calendar-check"></i> {{ project.first_release_ago() }}</div>
                        <div class="list-inline-item"><i class="bi bi-file-text"></i> {{ project.license }}</div>
                      </div>
                    </div>
                    <div class="col-md-auto">
                      <div class="mt-3 badges">
                        <a href="#" class="badge badge-outline text-secondary fw-normal badge-pill">Python {{ project.supported_python|default("Not Found in project", boolean=true) }}</a>
                        <a href="#" class="badge badge-outline text-secondary fw-normal badge-pill">Flask {{ project.supported_flask|default("Not Found in project", boolean=true) }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}