<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock html_lang %}">

  <head>
    {% block head %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="cf71b793-a9a0-4d9d-9005-e2629a2ae39f"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Flask Packages - Community-Driven Development for Flask Enthusiasts{% endblock title %}</title>

    {% block meta_content %}
    <meta name="description" content="Community-Driven Development for Flask Enthusiasts">
    <meta name="keywords" content="flask,extensions,project,python,development">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="mariofix">
    <link rel="canonical" href="https://flaskpackages.pythonanywhere.com" />
    <meta property="og:title" content="Flask Packages">
    <meta property="og:site_name" content="Flask Packages">
    <meta property="og:url" content="https://flaskpackages.pythonanywhere.com" />
    <meta property="og:description" content="Community-Driven Development for Flask Enthusiasts">
    <meta property="og:type" content="website">

    {% endblock meta_content %}

    <meta name="google-site-verification" content="YQqBu9x3ym7UcbVCX3VBv-FQb1PI2FBQlYaopsj5Y80" />
    <meta name="msvalidate.01" content="3801A81CC043E6485E9A4113C491F7AA" />

    {% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png', v=app_version)}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png', v=app_version)}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png', v=app_version)}}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest', v=app_version)}}">
    {% endblock favicon %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    {% block post_css %}
    {% endblock post_css %}
    {% endblock head %}
  </head>

  <body>
    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('website.home') }}">
          <i class="bi bi-cassette me-2"></i> Limelight
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('website.home') }}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="discoverDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Discover
              </a>
              <ul class="dropdown-menu" aria-labelledby="discoverDropdown">
                <li><a class="dropdown-item" href="{{ url_for('website.projects', project_type='application') }}">Applications</a></li>
                <li><a class="dropdown-item" href="{{ url_for('website.projects', project_type='framework') }}">Frameworks</a></li>
                <li><a class="dropdown-item" href="{{ url_for('website.projects', project_type='library') }}">Libraries</a></li>
                <li><a class="dropdown-item" href="{{ url_for('website.projects', project_type='module') }}">Modules</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('website.new_project') }}">Submit a Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('website.help') }}">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    {% block content %}

    {% endblock content %}


    {% block footer %}
    <!-- Footer -->
    <footer class="footer mt-auto bg-dark py-3 text-white text-center">

      <div class="container">
        <p>&copy; 2024 Limelight - Find the Flask Extension you were not looking for.</p>
        <div>
          <a href="https://github.com/mariofix/limelight/" class="text-white mx-2">Source Code</a>
          <a href="{{ url_for('website.home') }}" class="text-white mx-2">Privacy Policy</a>
          <a href="{{ url_for('website.home') }}" class="text-white mx-2">Acknowledgments</a>
        </div>
      </div>
    </footer>
    {% endblock footer %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block post_js %}
    {% endblock post_js %}
  </body>

</html>
