{% extends "template.accounts.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

{% block content %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <div class="navbar-brand navbar-brand-autodark">
            <img src="{{ url_for('static', filename='limelight.svg')}}" width="100" height="32" alt="limelight" class="navbar-brand-image">
          </div>
        </div>
        <div class="card card-md">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">{{ _fsdomain('Login') }}</h2>
            {% include "security/_messages.html" %}
            <form action="{{ url_for_security('login') }}{{ prop_next() }}" method="post" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_errors(login_user_form.csrf_token) }}
            {{ render_form_errors(login_user_form) }}
            {% if "email" in identity_attributes %}
              <div class="mb-3">
                <label class="form-label" for="email">{{ _fsdomain('Email address')}}</label>
                <input type="email" name="email" id="email" class="form-control{% if login_user_form.email.errors %} is-invalid{% endif %}" placeholder="your@email.com" autocomplete="email">
                {% if login_user_form.username.errors %}
                  {% for error in login_user_form.password.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                  {% endif %}
              </div>
              {% if identity_attributes|length > 1 %}
              <div class="hr-text">{{ _fsdomain('or') }}</div>
              {% endif %}
            {% endif %}
            {% if "username" in identity_attributes %}
              <div class="mb-3">
                <label class="form-label" for="username">{{ _fsdomain('Username')}}</label>
                <input type="text" name="username" id="username" class="form-control{% if login_user_form.username.errors %} is-invalid{% endif %}" placeholder="{{ _fsdomain('Username')}}" autocomplete="username">
                {% if login_user_form.username.errors %}
                  {% for error in login_user_form.password.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                  {% endif %}
              </div>
            {% endif %}
              <div class="mb-2">
                <label class="form-label" for="password">
                  {{ _fsdomain('Password') }}
                  {% if security.recoverable %}
                  <span class="form-label-description">
                    <a href="{{ url_for_security('forgot_password') }}">{{ _fsdomain('Forgot password') }}</a>
                  </span>
                  {% endif %}
                </label>
                <div class="row g-2">
                  <div class="col">
                    <input type="password" name="password" id="password" class="form-control{% if login_user_form.password.errors %} is-invalid{% endif %}"  placeholder="{{ _fsdomain('Password') }}"  autocomplete="current-password">
                    {% if login_user_form.password.errors %}
                    {% for error in login_user_form.password.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                    {% endif %}
                  </div>
                  <div class="col-auto">
                    <a href="#" class="btn btn-icon" title="{{ _('Show password') }}" data-bs-toggle="tooltip">
                      <i class="bi bi-eye"></i>
                    </a>
                </div>

              </div>
              <div class="mb-2">
                <label class="form-check" for="remember">
                  <input type="checkbox" class="form-check-input" value="y" name="remember" id="remember" />
                  <span class="form-check-label">{{ _fsdomain('Remember Me') }}</span>
                </label>
              </div>
              <div class="form-footer">
                <button type="submit" name="submit" value="submit" class="btn btn-primary w-100">{{ _fsdomain('Sign In') }}</button>
              </div>
            </form>
          </div>

          {% if security.oauthglue %}
          <div class="hr-text">or</div>
          <div class="card-body">
            <div class="row">
              <div class="col"><a href="#" class="btn w-100">Login with Github <i class="bi bi-github"></i></a></div>
              <div class="col"><a href="#" class="btn w-100">Login with Gitlab <i class="bi bi-git"></i></a></div>
            </div>
          </div>
          {% endif %}
        </div>
        {% if security.registerable %}
        <div class="text-center text-secondary mt-3">
          {{ _("Don't have account yet?") }} <a href="{{ url_for_security('register') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}" tabindex="-1">{{ _fsdomain('Register') }}</a>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock content %}
